<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link href="/../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<div layout:fragment="content">
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-6">
            <div class="card-body text-center profileImage">
              <img th:if="${memberDTO.profileImageName == null}"
                   src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                   class="rounded-circle img-fluid" style="width: 150px;">
              <img th:if="${memberDTO.profileImageName != null}"
                   th:src="|/view/${memberDTO.profileImageName}|"
                   th:data-src="${memberDTO.profileImageName}" alt="avatar"
                   class="rounded-circle img-fluid" style="width: 150px;">
            </div>
            <div class="d-flex justify-content-center mb-2">
              <button class="btn btn-secondary setProfileImageBtn">Change Profile</button>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-6">
            <div class="card-body">
              <form action="/member/edit" method="post" id="f1">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">ID</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="text-muted mb-0" name="memberID" th:value="${memberDTO.memberID}" readonly>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">NickName</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="text-muted mb-0" name="nickname" th:value="${memberDTO.nickname}">
                  <button type="button" class="btn btn-info nicknameUniqueCheckBtn">Unique Check</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">E-mail</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="text-muted mb-0" name="email" th:value="${memberDTO.email}">

                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Registration Date</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">[[${#temporals.format(memberDTO.regDate, 'yyyy-MM-dd')}]]</p>
                  <input type="hidden" name="regDate" th:value="${memberDTO.regDate}">
                </div>
              </div>
              <hr>
              <div class="uploadHidden">
              </div>
              </form>
            </div>
              <button type="button" class="btn btn-primary submitBtn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="file" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary uploadBtn">Upload</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/upload.js"></script>
  <script src="/js/member.js"></script>
</div>
<script layout:fragment="script" th:inline="javascript">

  const errors = [[${errors}]]

  let nicknameChecked = true
  document.querySelector("input[name='nickname']").addEventListener("change", function (e){
    e.stopPropagation()
    e.preventDefault()
    nicknameChecked = false;
  })

  document.querySelector(".nicknameUniqueCheckBtn").addEventListener("click",function (e){
    const nickname = document.getElementsByName('nickname')[0].value
    const error = [[${error}]]
    if(error)
    {
      alert(error);
    }
    if(nickname === [[${memberDTO.nickname}]])
    {
      console.log("Same!")
      nicknameChecked = true
      alert("You can Use This NickName")
    }
    else
    {
      isAvailableNickname(nickname).then(
              result =>
              {
                if(!result)
                {
                  nicknameChecked = true
                  alert("You can Use This NickName")
                }
                else
                {
                  nicknameChecked = false
                  alert("You can't use this NickName, Please Change")
                }
              }
      ).catch(e => alert("ERRRRRRRRRRRRRROR"))
    }

  })

  const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
  document.querySelector(".setProfileImageBtn").addEventListener("click", function (e){
    showUploadModal(e, uploadModal)
  }, false)
  document.querySelector(".closeUploadBtn").addEventListener("click", function (e){
    hideUploadModal(e, uploadModal)
  }, false)
  let tmpFile = null

  document.querySelector("input[name='file']").addEventListener("click", function (e){
    tmpFile = document.querySelector("input[name='file']");
  }, false)
  document.querySelector(".uploadBtn").addEventListener("click", function (e){
    uploadImage(document.querySelector("input[name='file']"), showUploadFile)
  })
  const profileImage = document.querySelector(".profileImage")
  function showUploadFile({uuid, fileName, link})
  {
    if(profileImage.querySelector("img").getAttribute("data-src") != null)
      removeFileLinkToServer(profileImage.querySelector("img").getAttribute("data-src"))
    console.log(link + "We Have")
    const str = `<img src="/view/${link}" data-src=${uuid+"_"+fileName} alt="avatar"
                   class="rounded-circle img-fluid" style="width: 150px;">`
    profileImage.innerHTML = str
  }

  document.querySelector(".submitBtn").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    if(!nicknameChecked)
    {
      alert("Please Use Unique Nickname")
      return
    }
    submitUploadedImage(document.querySelector(".uploadHidden"), profileImage.querySelector("img"),
            document.querySelector("#f1"), "profileImageName")
  }, false)
</script>
</html>

