<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic2.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="/../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<div layout:fragment="content">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-6">
                        <div class="card-body text-center">
                            <img th:if="${memberDTO.profileImageName == null}"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <img th:if="${memberDTO.profileImageName != null}"
                                 th:src="|/view/${memberDTO.profileImageName}|" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">[[${memberDTO.nickname}]]</h5>
                            <p class="text-muted mb-1">[[${memberDTO.email}]]</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">ID</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">[[${memberDTO.memberID}]]</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">NickName</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">[[${memberDTO.nickname}]]</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">E-mail</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">[[${memberDTO.email}]]</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Registration Date</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">[[${#temporals.format(memberDTO.regDate, 'yyyy-MM-dd')}]]</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <form action="/member/edit" method="get">
                            <button type="submit" class="btn btn-primary float-end">Edit Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>