<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/basic2.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    datalist {
        width: fit-content;
        display: block;
    }
</style>
<link href="/../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<div layout:fragment="content">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-6">
                        <div class="card-body text-center">
                            <img th:if="${memberDTO.profileImageName == null}"
                                 src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <img th:if="${memberDTO.profileImageName != null}"
                                 th:src="|/view/${memberDTO.profileImageName}|" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">[[${memberDTO.nickname}]]</h5>
                            <p class="text-muted mb-1">[[${memberDTO.email}]]</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">ID</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">[[${memberDTO.memberID}]]</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">NickName</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">[[${memberDTO.nickname}]]</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">E-mail</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"> [[${memberDTO.email}]]</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Registration Date</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">[[${#temporals.format(memberDTO.regDate, 'yyyy-MM-dd')}]]</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <form sec:authorize="isAuthenticated()" th:if="${#authentication.principal.memberID == memberDTO.memberID}"
                              action="/member/edit" method="get">
                            <button type="submit" class="btn btn-primary float-end">Edit Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            Board
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                Search Board with:
                <input type="text" list="galleryAutoList" class="dataListInput" id="dinput" autocomplete="off"/>
                <datalist id="galleryAutoList">
                </datalist>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Board Number</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">View</th>
                    <th scope="col">Like</th>
                    <th scope="col">RegDate</th>
                </tr>
                </thead>
                <tbody class="boardListBody">

                </tbody>
            </table>
            <div class="row mt-3">
                <div class="col">
                    <ul class="pagination boardPaging">
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/gallery.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    const galleryAutoList = document.getElementById("galleryAutoList")
    const dataListInput = document.querySelector(".dataListInput")
    const searchGallery = [[${searchGallery}]]
    const writer = [[${memberDTO.nickname}]]
    let galleryClicked = false
    let gid = ''
    dataListInput.addEventListener("keyup", function (e)
    {
        e.stopPropagation()
        e.preventDefault()
        const keyword = dataListInput.value
        if(!galleryClicked) galleryAutoList.id = "galleryAutoList"
        if(keyword)
        {
            getGalleryForAuto(keyword).then(
                result => setGalleryAutoList(result.dtoList)
            ).catch(e => alert("ERROR While insert datalist"))
        }
        galleryClicked = false
    }, false)
    let eventSource = null;
    let value = '';


    dataListInput.addEventListener("keydown", (e) =>{
        eventSource = e.key ? 'input' : 'list';
    })
    if(searchGallery != null)
    {
        dataListInput.value = searchGallery
        showBoardList(searchGallery)
    }
    dataListInput.addEventListener('input', (e) => {
        value = e.target.value;
        if(!value) setGalleryAutoList('')
        if (eventSource === 'list') {
            showBoardList(value)
        }
    });
    function setGalleryAutoList(dtoList)
    {
        let str = '';
        if(dtoList && dtoList.length > 0)
        {
            for(const dto of dtoList)
            {
                str += `<option value="${dto.title}"></option>`
            }
        }
        galleryAutoList.innerHTML = str;
    }
    document.getElementById("galleryAutoList").addEventListener("focus", function (e){
        console.log("It is Changed!")
    })

    function showBoardList(galleryID)
    {
        gid = galleryID
        console.log("You are now " + galleryID)
        printBoards(1, galleryID)
    }
    const boardPaging = document.querySelector(".boardPaging")
    function printPages(data)
    {
        let pageStr = '';
        if(data.prev)
        {
            pageStr += `<li class="page-item"><a class="page-link" board-page="${data.start - 1}">PREV</a></li>`
        }
        for(let i = data.start; i <= data.end; i++)
        {
            pageStr += `<li class="page-item ${i == data.page?"active" : ""} "><a class="page-link" board-page="${i}">${i}</a></li>`
        }
        if(data.next)
        {
            pageStr += `<li class="page-item"><a class="page-link" board-page="${data.end + 1}">NEXT</a></li>`
        }
        boardPaging.innerHTML = pageStr
    }

    function printBoards(page, galleryID)
    {
        getBoardList(page, writer, galleryID, 10).then(
            result => {
                console.log(result)
                printBoardList(result.dtoList)
                printPages(result)
            }
        ).catch(e => alert("Exception while getList!"))
    }
    function printBoardList(dtoList)
    {
        let str = ''
        console.log(dtoList)
        if(dtoList != null && dtoList.length > 0)
        {
            for(const dto of dtoList)
            {
                str += `<tr>
              <td>${dto.bno}</td>
              <td>
                <a class="text-decoration-none" href="/gallery/board/read?id=${gid}&bno=${dto.bno}&page=1&mode='ALL'">
                    ${dto.title}</a>
                <span class="badge progress-bar-success" style="background-color:#0a53be" >
                                    ${dto.commentCount}
                                </span>
              </td>
              <td>${dto.writer}</td>
              <td>${dto.views}</td>
              <td>${dto.likeCount}</td>
              <td>${dto.regDate[0]}-${dto.regDate[1]}-${dto.regDate[2]}</td>
              </tr>`
            }
            document.querySelector(".boardListBody").innerHTML = str
        }
    }
    document.querySelector(".boardPaging").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const target = e.target
        if(!target || target.tagName != 'A')
        {
            return
        }
        const pageNum = target.getAttribute("board-page")
        console.log(pageNum)
        printBoards(pageNum, gid)
    })
</script>
</html>