<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/basic2.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container py-5">
        <form th:action="@{/member/register}" method="post" id="f1">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h1>Profile Image</h1>
                            <div class="profileImage">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;" id="altImage"/>
                            </div>
                            <div class="d-flex justify-content-center mb-2 my-2">
                                <button class="btn btn-primary setProfileImageBtn" type="button">Set Profile Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-6">
                    <div class="card-body">
                        <div class="row">
                            <small style="color:red" id="nicknameInfo"></small>
                            <div class="input-group mb-3">
                                <span class="input-group-text">NickName</span>
                                <input type="text" class="form-control" name="nickname" placeholder="Nickname">
                            </div>
                            <small style="color:red" id="idInfo"></small>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Member ID</span>
                                <input type="text" class="form-control" name="memberID" placeholder="MemberID">
                            </div>
                            <small style="color:red" id="passwordInfo"></small>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Password</span>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                                <span class="input-group-text">Password Check</span>
                                <input type="password" class="form-control" name="passwordCheck" placeholder="Password">
                            </div>
                            &nbsp;
                            <div class="input-group mb-3">
                                <span class="input-group-text">E-MAIL</span>
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="uploadHidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4">
                <div class="front-end">
                    <button type="button" class="btn btn-primary submitBtn">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="file" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/member.js"></script>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]

    let tmpFile = null
    let idChecked = false
    let nicknameChecked = false
    let passwordChecked = false
    if(errors)
    {
        let errorMsg = ''
        for(let i=0; i < errors.length; i++)
        {
            errorMsg += `${errors[i].defaultMessage}\n`
        }
        alert(errorMsg)
    }
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
    document.querySelector(".setProfileImageBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        uploadModal.show()
    }, false)
    document.querySelector(".closeUploadBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        uploadModal.hide()
    }, false)
    function getExtension(filename) {
        const parts = filename.split('.');
        return parts[parts.length - 1];
    }

    function isImage(filename) {
        const ext = getExtension(filename);
        switch (ext.toLowerCase()) {
            case 'jpg':
            case 'gif':
            case 'bmp':
            case 'png':
                return true;
        }
        return false;
    }
    document.querySelector(".uploadBtn").addEventListener("click", function (e){
        uploadImage(document.querySelector("input[name='file']"), showUploadFile)
    })
    const profileImage = document.querySelector(".profileImage")
    function showUploadFile({uuid, fileName, link})
    {
        console.log(link + " We Have")
        if(tmpFile != null) removeFileLinkToServer(tmpFile)
        const str = `<img src="/view/${link}" alt="avatar" data-src="${uuid+"_"+fileName}"
                                 class="rounded-circle img-fluid profileImage" style="width: 150px;" >`
        tmpFile = uuid+"_"+fileName
        profileImage.innerHTML = str
    }

    document.querySelector('input[name="nickname"]').addEventListener("keyup", function (e){
        const nickname = document.getElementsByName('nickname')[0].value
        console.log(nickname)
        if(nickname == null || nickname.length == 0) return;
        isAvailableNickname(nickname).then(
            result =>{
                let info = ""
                if(result == 0)
                {
                    nicknameChecked = true
                }
                else
                {
                    nicknameChecked = false
                    if(result < 0) info = "Nickname Must be longer than 3 and less than 20 and only contain alphabet and Number"
                    else info = "This Nickname is Already in used"
                }

                document.getElementById("nicknameInfo").innerHTML = info
            }
        ).catch(e => alert("Error while Checking Nickname"))
    })

    document.querySelector('input[name="memberID"]').addEventListener("keyup", function (e){
        const mid = document.getElementsByName('memberID')[0].value
        console.log(mid)
        if(mid == null || mid.length == 0) return;
        isAvailableID(mid).then(
            result =>{
                let info = ""
                if(result == 0) idChecked = true
                else
                {
                    idChecked = false
                    if(result < 0) info = "ID Must be longer than 3 and less than 20 and only contain alphabet and Number"
                    else info ="This ID is Already in used"
                }

                document.getElementById("idInfo").innerHTML = info
            }
        ).catch(e => alert("Error while Checking ID"))
    })


    document.querySelector('input[name="password"]').addEventListener("keyup", checkPassword, false)
    document.querySelector('input[name="passwordCheck"]').addEventListener("keyup", checkPassword, false)
    function checkPassword()
    {
        console.log("Changing Password....")
        const password = document.getElementsByName('password')[0].value
        const passwordCheck = document.getElementsByName('passwordCheck')[0].value
        if(password == null || password.length == 0 || passwordCheck.length == 0) return
        isAvailablePassword(password, passwordCheck).then(
            result =>{
                let info = ""
                if(result == 0) passwordChecked = true
                else
                {
                    passwordChecked = false
                    if(result < 0) info = "Password Must be longer than 3 and less than 16 and have to contain Alphabet and Number"
                    else info ="Password and PasswordCheck is Unmatched"
                }

                document.getElementById("passwordInfo").innerHTML = info
            }
        ).catch(e => alert("Error While Checking Password"))
    }
    let submitting = false
    document.querySelector(".submitBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        if(!nicknameChecked || !idChecked || !passwordChecked)
        {
            alert("Please Check Your Values")
            return
        }
        submitting = true
        submitUploadedImage(document.querySelector(".uploadHidden"), profileImage.querySelector("img"),
            document.getElementById("f1"), "profileImageName")
    }, false)

    window.onbeforeunload = function ()
    {
        if(!submitting && tmpFile != null)
            removeFileLinkToServer(tmpFile)
    }
</script>
</html>