<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/basic2.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <hr class="featurette-divider">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-6 order-md-3">
                <h2 class="featurette-heading lh-0 my-5"><span class="text-body-secondary">Gallery Title: </span> [[${galleryDTO.title}]] </h2>
                <h3 class="featurette-heading lh-0 my-5"><span class="text-body-secondary">Manager: </span>[[${galleryDTO.managerNickname}]] </h3>
                <form action="/gallery/edit" method="post" id="f1">
                    <input type="hidden" th:value="${galleryDTO.galleryID}" name="galleryID">
                    <input type="hidden" th:value="${galleryDTO.managerID}" name="managerID">
                    <input type="hidden" th:value="${galleryDTO.managerNickname}" name="managerNickname">
                    <input type="hidden" th:value="${galleryDTO.title}" name="title">
                    <div class="uploadHidden"></div>
                    Explanation:
                    <textarea class="form-control col-sm-5" name="explanation" rows="3" style="white-space: pre-wrap">[[${galleryDTO.explanation}]]</textarea>
                    <span class="text-body-secondary">PopularThreshold:</span>
                    <select class="form-select-sm" name="popularThreshold">
                        <option th:value="${galleryDTO.popularThreshold}" th:text="${galleryDTO.popularThreshold}" selected hidden></option>
                        <option th:each="n : ${#numbers.sequence(1, 30)}" th:value="${n}" th:text="${n}"/>
                    </select>
                </form>
            </div>
            <div class="col-md-5">
                <div class="order-md-2 galleryImage">
                    <img th:if="${galleryDTO.galleryImageName == null}"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img"
                         aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/></img>
                    <img th:if="${galleryDTO.galleryImageName != null}"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img"
                         aria-label="Placeholder: 500x500" th:src="|/view/${galleryDTO.galleryImageName}|" th:data-src="${galleryDTO.galleryImageName}"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/></img>
                </div>
                <div class="my-2">
                    <button type="button" class="btn btn-info uploadFileBtn">Change Image</button>
                </div>
            </div>

        </div>
    </div>
    <hr class="featurette-divider">
    <div class="float-end">
        <button type="button" class="btn btn-primary submitBtn">Edit Gallery</button>
    </div>

    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="file" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>
</div>
</body>

<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    const galleryImage = document.querySelector(".galleryImage")
    console.log(errors)

    let errorMsg = ''
    if(errors)
    {
        for(let i=0; i < errors.length; i++)
            errorMsg += `${errors[i].field} is ${errors[i].code}\n`
        alert(errorMsg)
    }

    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e){
        showUploadModal(e, uploadModal)
    }, false)
    document.querySelector(".closeUploadBtn").addEventListener("click", function (e){
        hideUploadModal(e, uploadModal)
    })
    document.querySelector(".uploadBtn").addEventListener("click", function (e){
        uploadImage(document.querySelector("input[name='file']"), showUploadFile)
    })
    function showUploadFile({uuid, fileName, link})
    {
        console.log(link)
        const str = `<div>
                        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                         width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img"
                         aria-label="Placeholder: 500x500" src="/view/${link}" data-src="${uuid+"_"+fileName}"
                         preserveAspectRatio="xMidYMid slice" name="galleryImageName" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
                       </img>
                        </div>`
        galleryImage.innerHTML = str
    }

    document.querySelector(".submitBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        submitUploadedImage(document.querySelector(".uploadHidden"), galleryImage.querySelector("img"),
            document.querySelector("#f1"), "galleryImageName")
    }, false)
</script>