<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row mt-3" th:fragment="boardList(galleryID, responseDTO, no)">
  <form action="/gallery/board/list" method="get" id="f1">
    <div class="col">
      <input type='hidden' name='id' th:value="${galleryID}">
      <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
      <div class="input-group">
        <div class="input-group-prepend">
          <select class="form-select" name="type">
            <option value="">---</option>
            <option value="t" th:selected="${pageRequestDTO.type == 't'}">Title</option>
            <option value="c" th:selected="${pageRequestDTO.type == 'c'}">Content</option>
            <option value="w" th:selected="${pageRequestDTO.type == 'w'}">Writer</option>
            <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">Title Content</option>
          </select>
        </div>
        <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
          <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
        </div>
      </div>
    </div>
  </form>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Board List
      </div>
      <div class="card-body">
        <h5 class="card-title">Board List</h5>
        <button type="button" th:classappend="${#strings.equals(mode, 'Popular')}? 'btn btn-secondary' : 'btn btn-primary'" class="allModeBtn">ALL</button>
        <button type="button" th:classappend="${#strings.equals(mode, 'Popular')}? 'btn btn-primary' : 'btn btn-secondary'" class="popularModeBtn">Popular</button>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Board Number</th>
            <th scope="col">Title</th>
            <th scope="col">Writer</th>
            <th scope="col">View</th>
            <th scope="col">Like</th>
            <th scope="col">RegDate</th>
          </tr>
          </thead>
          <tbody th:with="link = ${pageRequestDTO.getLink()}">
          <tr th:each="dto:${responseDTO.dtoList}">
              <td th:style="${no != null && no == dto.bno}? 'background: lightgray':''">[[${dto.bno}]]</td>
              <td th:style="${no != null && no == dto.bno}? 'background: lightgray':''">
                <a th:app th:href="|@{/gallery/board/read(id=${galleryID},bno=${dto.bno},page=${pageRequestDTO.page},mode=${mode})}|"
                   class="text-decoration-none">[[${dto.title}]]</a>
                <span class="badge progress-bar-success" style="background-color:#0a53be" >
                                    [[${dto.commentCount}]]
                                </span>
              </td>
              <td th:style="${no != null && no == dto.bno}? 'background: lightgray':''">[[${dto.writer}]]</td>
              <td th:style="${no != null && no == dto.bno}? 'background: lightgray':''">[[${dto.views}]]</td>
              <td th:style="${no != null && no == dto.bno}? 'background: lightgray':''">[[${dto.likeCount}]]</td>
              <td th:style="${no != null && no == dto.bno}? 'background: lightgray':''">[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
          </tr>
          </tbody>
        </table>
        <div class="float-end">
          <ul class="pagination flex-wrap listPagination">
            <li class="page-item" th:if="${responseDTO.prev}">
              <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
              <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                <a class="page-link" th:data-num="${i}">[[${i}]]</a>
              </li>
            </th:block>
            <li class="page-item" th:if="${responseDTO.next}">
              <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    const mode = [[${mode}]]
    const id = [[${galleryID}]]
    document.querySelector(".listPagination").addEventListener("click", function(e){
      e.preventDefault()
      e.stopPropagation()
      const target = e.target

      if(target.tagName !== 'A'){
        return
      }
      const num = target.getAttribute("data-num")
      const formObj = document.querySelector("#f1")
      formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
      formObj.innerHTML += `<input type='hidden' name='mode' value='${mode}'>`
      formObj.submit()
    }, false)
    document.querySelector(".clearBtn").addEventListener("click", function (e){
      e.preventDefault()
      e.stopPropagation()
      self.location = '/gallery/board/list?id=' + id;
    }, false)

    document.querySelector(".allModeBtn").addEventListener("click", function (e){
      e.preventDefault()
      e.stopPropagation()
      self.location = `/gallery/board/list?id=` + id;
    })
    document.querySelector(".popularModeBtn").addEventListener("click", function (e){
      e.preventDefault()
      e.stopPropagation()
      self.location = `/gallery/board/list?id=` + id + `&mode=Popular`;
    })
  </script>
</div>
</html>