<!DOCTYPE html>
<div class="modal uploadModal" tabindex="-1" th:fragment="UploadModal(UploadBtn)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="file" name="file" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary uploadBtn">Upload</button>
        <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
      </div>
    </div>
  </div>

  <script src="/js/upload.js"></script>
  <script th:inline="javascript">
    document.querySelector(".closeUploadBtn").addEventListener("click", function (e) {

    })
  </script>
</div>