<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            Board Read
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text">Bno</span>
                <input type="text" class="form-control" th:value="${dto.bno}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" class="form-control" th:value="${dto.title}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Content</span>
                <textarea type="text" class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Writer</span>
                <input type="text" class="form-control" th:value="${dto.writer}" readonly>
            </div>
            <!-- <div class="input-group mb-3">
                <span class="input-group-text">RegDate</span>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
            </div> -->
            <div class="my-4" th:with="user=${#authentication.principal}">
                <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                    <a th:href="|@{/gallery/board/list}?id=${galleryID}&${link}|" class="text-decoration-none">
                        <button type="button" class="btn btn-primary">List</button>
                    </a>
                    <a th:if="${user != null && user.class.name != 'java.lang.String' && user.memberID == dto.writer}"
                       th:href="|@{/gallery/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                        <button type="button" class="btn btn-secondary">Modify</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <form th:action="@{/gallery/board/comment(id=${galleryID})}" method="post">
                    <textarea type="text" name="content" class="form-control col-sm-5" rows="2"></textarea>
                    <input type="hidden" name="bno" th:value="${dto.bno}">
                    <button type="submit" class="btn btn-info addReplyBtn">ADD REPLY</button>
                </form>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Writer</th>
                    <th scope="col">Content</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment:${dto.commentList}">
                    <td>[[${comment.writer}]]</td>
                    <td>[[${comment.content}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:insert="~{/fragment/boardListFragment::boardList(${galleryID}, ${responseDTO})}">
    </div>
</div>
</html>