<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/basic2.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <h1><a class="text-bg-success" th:href="@{/gallery/board/list(id=${galleryDTO.galleryID})}">[[${galleryDTO.title}]] Gallery</a></h1>
    <hr class="featurette-divider">
    <div class="title">
        <h1 class="fw-bold">[[${dto.title}]]</h1>
    </div>
    <div class="card">
        <div class="card-header">
            Writer: [[${dto.writer}]]
            <div class="float-end">
                [[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]
            </div>
        </div>
        <div class="card-body">
            [[${dto.content}]]
            <div class="my-4" th:with="user=${#authentication.principal}">
                <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                    <a th:href="|@{/gallery/board/list}?id=${galleryDTO.galleryID}&${link}|" class="text-decoration-none">
                        <button type="button" class="btn btn-primary">List</button>
                    </a>
                    <a sec:authorize="isAuthenticated()" th:if="${user.nickname == dto.writer}"
                       th:href="|@{/gallery/board/modify(id=${galleryDTO.galleryID}, bno=${dto.bno})}&${link}|" class="text-decoration-none">
                        <button type="button" class="btn btn-secondary">Modify</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="my-3">We have <span class="commentCnt"></span> Comments</h2>
    <div class="commentCnt"></div>
    <hr class="featurette-divider">
    <div class="card row mt-3">
        <div class="card-header">
            Comment
        </div>
        <div class="card-body col-md-12">
            <ul class="list-group commentList">
            </ul>
            <div class="row mt-3">
                <div class="col">
                    <ul class="pagination commentPaging">
                    </ul>
                </div>
            </div>
            <div class="my-4" th:with="user=${#authentication.principal}">
                <textarea type="text" placeholder="Write Your Comment on the Board"
                          class="form-control col-sm-5 commentText" rows="5"></textarea>
                <input type="text" sec:authorize="isAnonymous()" class="form-control commentWriter" value="" readonly>
                <input type="text" sec:authorize="isAuthenticated()" class="form-control commentWriter" th:value="${user.nickname}" readonly>
                <button type="submit" sec:authorize="isAuthenticated()" class="float-end btn btn-info my-3 addCommentBtn">ADD COMMENT</button>
            </div>
        </div>
    </div>
    <div class="my-5" th:insert="~{/fragment/boardListFragment::boardList(${galleryDTO.galleryID}, ${responseDTO})}">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/comment.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    const bno = [[${dto.bno}]]
    const userAuth = [[${memberDTO}]]
    const commentList = document.querySelector(".commentList")
    const commentPaging = document.querySelector(".commentPaging")
    function printCommentList(dtoList)
    {
        let str = '';
        if(dtoList && dtoList.length > 0)
        {
            for(const comm of dtoList)
            {
                str += `<li class="list-group-item d-flex commentItem container">`
                if(`${comm.profileImageName}`!= `null`)
                {
                    str += `<img src="/view/${comm.profileImageName}" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 50px; height: 50px">`
                }else{
                    str += `<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 50px; height: 50px">`
                }
                str += `<span class="col-2 h3">${comm.writer}</span>
                    <span class="col-6 h2">${comm.commentText}</span>
                    <span class="col-3"></span>`
                if(userAuth != null && `${comm.writer}`== userAuth.nickname)
                    str += `<div>
                            <button type="button" class="btn btn-danger"
                                onClick="removeCommentFunction(${comm.commentID})">Delete
                            </button>
                            </div>
                        `
                str += `</li>`
            }
        }
        commentList.innerHTML = str
    }

    function removeCommentFunction(id)
    {
        console.log(id)
        removeComment(id).then(
            result =>{
                alert(id + ' comment deleted')
                commentText.value=''
                page = 1
                showCommentCount()
                printComments(page, size)
            }).catch(e => {
            console.log(e)
        })
    }
    function printPages(data)
    {
        let pageStr = '';
        if(data.prev)
        {
            pageStr += `<li class="page-item"><a class="page-link" comment-page="${data.start - 1}">PREV</a></li>`
        }
        for(let i = data.start; i <= data.end; i++)
        {
            pageStr += `<li class="page-item ${i == data.page?"active" : ""} "><a class="page-link" comment-page="${i}">${i}</a></li>`
        }
        if(data.next)
        {
            pageStr += `<li class="page-item"><a class="page-link" comment-page="${data.end + 1}">NEXT</a></li>`
        }
        commentPaging.innerHTML = pageStr
    }

    function printComments(page, size, goLast)
    {
        getList({bno, page, size, goLast}).then(
            data =>{
                printCommentList(data.dtoList)
                printPages(data)
            }
        ).catch(e => {
            console.error(e)
        })
    }
    printComments(1, 10)
    showCommentCount()
    const addCommentBtn = document.querySelector(".addCommentBtn")
    const commentText = document.querySelector(".commentText")
    const commentWriter = document.querySelector(".commentWriter")
    if(addCommentBtn != null)
    {
        addCommentBtn.addEventListener("click", function (e){
            const commentObj = {
                bno:bno,
                commentText:commentText.value,
                writer:commentWriter.value
            }
            addComment(commentObj).then(result =>{
                commentText.value = ''
                printComments(1, 10, true)
                showCommentCount()
            }).catch(e =>{
                alert("Exception.....!")
            })
        }, false)
    }
    let page = 1
    let size = 10
    commentPaging.addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const target = e.target
        if(!target || target.tagName != 'A')
        {
            return
        }
        const pageNum = target.getAttribute("comment-page")
        page = pageNum
        printComments(page, size)
    }, false)

    function showCommentCount()
    {
        getCommentCount(bno).then(
            data => document.getElementsByClassName("commentCnt")[0].innerText = data
        ).catch(e =>{
            alert("Exception Alert!!!!!")
        })
    }

</script>
</html>